body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #877b97;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/movie.jpg");
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .flex-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  
  .flex-container > div {
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
  }
  .flex-container-button {
    display: flex;
    align-items: stretch;
    flex-direction:row;
  }
  
  .flex-container-button > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .playlist_button{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 1%;
    justify-content: center;
    display: flex;
  }
  @media screen and (max-width: 500px) {
  iframe{
    width: 100%;
    height: 100%;
  }
  
}